# 2022 빅콘테스트_spec 데이터 전처리
## 우 걱정마세요

## 1. 라이브러리 및 패키지 불러오기

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
user_spec = pd.read_csv('/content/drive/MyDrive/2022_Bigcontest/Data/user_spec.csv')
user_spec.head()

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,1249046,118218,1985.0,1.0,2022-06-07 06:28:18,660.0,108000000.0,PRIVATEBUSINESS,20151101.0,기타,자가,1000000.0,기타,0.0,NaN,4.0,162000000.0
1,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0
2,137274,59516,1997.0,1.0,2022-06-07 21:40:22,710.0,30000000.0,FREELANCER,20210901.0,기타,기타가족소유,10000000.0,생활비,0.0,NaN,5.0,15000000.0
3,1570936,167320,1989.0,1.0,2022-06-07 09:40:27,820.0,62000000.0,EARNEDINCOME,20170101.0,정규직,자가,2000000.0,생활비,0.0,NaN,7.0,344000000.0
4,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0

In [ ]:
loan_result = pd.read_csv('/content/drive/MyDrive/2022_Bigcontest/Data/loan_result.csv')
loan_result.head()

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN

## 2. Loan_result에 없는 id 제거

In [ ]:
# user_spec 데이터의 현재 결측값 확인
user_spec.isnull().sum()

application_id                               0
user_id                                      0
birth_year                               12961
gender                                   12961
insert_time                                  0
credit_score                            105115
yearly_income                               90
income_type                                 85
company_enter_month                     171760
employment_type                             85
houseown_type                               85
desired_amount                              85
purpose                                     85
personal_rehabilitation_yn              587461
personal_rehabilitation_complete_yn    1203354
existing_loan_cnt                       198556
existing_loan_amt                       313774
dtype: int64

In [ ]:
respec = user_spec
drop_application_id = list(set(respec['application_id'])-set(loan_result['application_id']))

In [ ]:
respec.drop(respec[respec['application_id'].isin(drop_application_id)].index,inplace=True)

In [ ]:
# 결측값이 잘 채워졌는지 확인
respec.isnull().sum()

application_id                              0
user_id                                     0
birth_year                               8593
gender                                   8593
insert_time                                 0
credit_score                            81769
yearly_income                               1
income_type                                 0
company_enter_month                     92314
employment_type                             0
houseown_type                               0
desired_amount                              0
purpose                                     0
personal_rehabilitation_yn             417763
personal_rehabilitation_complete_yn    843993
existing_loan_cnt                      146290
existing_loan_amt                      225046
dtype: int64

## 3. yearly_income 컬럼

In [ ]:
# yaerly_income 컬럼의 1개의 결측값은 무직이라는 판단하에 0으로 결측값을 채워줌.
respec.loc[respec['yearly_income'].isnull(), 'yearly_income'] = 0

## 4. purpose 컬럼

In [ ]:
respec['purpose'].unique()

array(['대환대출', '생활비', '사업자금', '주택구입', '기타', '전월세보증금', '투자', 'LIVING',
       'SWITCHLOAN', 'INVEST', 'ETC', '자동차구입', 'BUSINESS', 'BUYCAR',
       'BUYHOUSE', 'HOUSEDEPOSIT'], dtype=object)

In [ ]:
# 영어와 한글을 통일
respec['purpose'] = respec['purpose'].replace("ETC", '기타').replace("SWITCHLOAN", '대환대출').replace("LIVING", '생활비').replace("BUSINESS", "사업자금").replace("BUYHOUSE", '주택구입').replace("HOUSEDEPOSIT", '전월세보증금').replace("INVEST", '투자').replace("BUYCAR", '자동차구입')

In [ ]:
respec.groupby(['purpose']).mean()

,application_id,user_id,birth_year,gender,credit_score,yearly_income,company_enter_month,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
purpose,,,,,,,,,,,,
기타,1.078635e+06,441458.278679,1981.941380,0.676602,718.921435,4.672088e+07,4.869104e+06,5.021406e+07,0.011778,0.006936,3.812549,7.705330e+07
대환대출,1.083758e+06,439494.098394,1983.112895,0.673657,666.737587,4.441556e+07,4.981218e+06,4.237108e+07,0.005316,0.003735,4.372232,7.644610e+07
사업자금,1.082040e+06,436080.991736,1980.804398,0.698343,736.734092,7.175506e+07,4.864794e+06,5.192758e+07,0.008103,0.008750,3.337271,8.653888e+07
생활비,1.083702e+06,440931.625044,1982.620231,0.672816,661.737925,4.230887e+07,4.854741e+06,2.419012e+07,0.010372,0.005346,4.803647,7.547312e+07
자동차구입,1.075803e+06,440826.914857,1986.361140,0.816823,718.368679,5.349948e+07,1.173165e+06,3.026715e+07,0.021277,0.009009,2.936728,6.913847e+07
전월세보증금,1.087113e+06,439804.523258,1986.078409,0.623285,765.769168,4.378604e+07,4.938312e+06,8.817148e+07,0.013667,0.005598,2.613261,5.937304e+07
주택구입,1.082496e+06,437198.403768,1983.689622,0.686889,839.353564,5.486352e+07,4.879441e+06,1.733751e+08,0.006312,0.006021,2.457088,9.179131e+07
투자,1.091563e+06,438642.723577,1985.219961,0.863343,795.127562,5.700133e+07,4.870698e+06,7.308763e+07,0.003909,0.006652,3.415646,1.008581e+08

## 5. birth_year 컬럼
* birth_year을 나이 파생 변수를 만들어 대체
* 나이를 10단위로 바꿔주었고, 70이상의 값은 70으로 처리
* yearly_income을 기준으로 null값을 채움

In [ ]:
# 성별이 다른 신청서에는 있지만 결측치가 있는 유저들 처리
gender_null = set(respec[(respec['user_id'].isin(set(respec[respec['gender'].isnull()]['user_id'])))&(respec['gender'].notnull())]['user_id'])

In [ ]:
for i in gender_null:
    respec.loc[(respec['user_id']==i)&(respec['birth_year'].isnull()),'birth_year'] = respec[respec['user_id'] == i]['birth_year'].dropna().unique().item()
    respec.loc[(respec['user_id']==i)&(respec['gender'].isnull()),'gender'] = respec[respec['user_id'] == i]['gender'].dropna().unique().item()

In [ ]:
# 나이 파생변수 추가
respec['age'] = 2023 - respec['birth_year']

In [ ]:
# 나이를 10단위로 바꿔주고, 70이상의 값은 70으로 처리
respec.loc[respec['age'] < 20, 'reage'] = 10
respec.loc[(respec['age'] >= 20) & (respec['age'] <30), 'reage'] = 20
respec.loc[(respec['age'] >= 30) & (respec['age'] <40), 'reage'] = 30
respec.loc[(respec['age'] >= 40) & (respec['age'] <50), 'reage'] = 40
respec.loc[(respec['age'] >= 50) & (respec['age'] <60), 'reage'] = 50
respec.loc[(respec['age'] >= 60) & (respec['age'] <70), 'reage'] = 60
respec.loc[respec['age'] >= 70, 'reage'] = 70

In [ ]:
# 나이에 따른 평균 값들 확인
respec_group = respec.groupby(['reage']).mean()
respec_group = respec_group.reset_index()

In [ ]:
respec_group

,reage,application_id,user_id,birth_year,gender,credit_score,yearly_income,company_enter_month,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,age
0,20.0,1.083651e+06,440805.330399,1996.585710,0.697107,659.406853,2.987041e+07,5.010945e+06,2.391264e+07,0.005605,0.001343,3.541547,3.490063e+07,26.414290
1,30.0,1.084868e+06,442264.064696,1988.608223,0.698099,678.562302,4.132548e+07,4.900269e+06,3.755334e+07,0.007445,0.004797,4.370370,7.209901e+07,34.391777
2,40.0,1.081521e+06,437538.707302,1979.051834,0.659310,676.406702,5.027102e+07,4.813463e+06,3.833640e+07,0.010219,0.009421,4.873379,9.474327e+07,43.948166
3,50.0,1.084982e+06,440780.961920,1969.437196,0.659148,672.597414,5.942931e+07,4.795204e+06,3.983855e+07,0.012185,0.017363,4.953073,9.210063e+07,53.562804
4,60.0,1.083795e+06,437324.421057,1959.672892,0.617716,677.869317,4.667257e+07,4.895073e+06,3.666523e+07,0.011416,0.027592,4.722829,6.853000e+07,63.327108
5,70.0,1.094280e+06,447915.803977,1949.029403,0.533665,697.099452,3.630668e+07,5.611722e+06,2.287173e+07,0.006098,0.014493,5.118890,6.087817e+07,73.970597

In [ ]:
#나이에 따라 소득이 다르다는 판단하에 나이의 결측값을 소득이 속하는 평균으로 채워줌.
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 20]['yearly_income'].item()), 'reage'] = 10
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 20]['yearly_income'].item()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 70]['yearly_income'].item()), 'reage'] = 20
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 70]['yearly_income'].item()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 30]['yearly_income'].item()), 'reage'] = 70
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 30]['yearly_income'].item()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 60]['yearly_income'].item()), 'reage'] = 30
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 60]['yearly_income'].item()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 40]['yearly_income'].item()	), 'reage'] = 60
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 40]['yearly_income'].item()) & (respec['yearly_income'] < respec_group[respec_group['reage'] == 50]['yearly_income'].item()), 'reage'] = 40
respec.loc[(respec['reage'].isnull()) & (respec['yearly_income'] >= respec_group[respec_group['reage'] == 50]['yearly_income'].item()) , 'reage'] = 50

In [ ]:
respec = respec.drop(['birth_year', 'age'], axis = 1)

## 6. gender 컬럼
- income_type별 gender의 비율을 구하여 비율에 맞춰 결측값을 채워줌

In [ ]:
respec['income_type'].unique()

array(['PRIVATEBUSINESS', 'FREELANCER', 'EARNEDINCOME', 'OTHERINCOME',
       'EARNEDINCOME2', 'PRACTITIONER'], dtype=object)

In [ ]:
respec['income_type'] = respec['income_type'].replace("PRIVATEBUSINESS", 1).replace("FREELANCER", 2).replace("EARNEDINCOME", 3).replace("OTHERINCOME", 4).replace("EARNEDINCOME2", 5).replace("PRACTITIONER", 6)

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 1)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 1
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 1), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 1), 'gender'] = 0

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 2)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 2
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 2), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 2), 'gender'] = 0

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 3)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 3
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 3), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 3), 'gender'] = 0

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 4)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 4
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 4), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 4), 'gender'] = 0

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 5)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 5
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 5), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 5), 'gender'] = 0

In [ ]:
sample1 = respec[(respec['gender'].notnull()) & (respec['income_type'] == 6)]['gender'].value_counts()

per_0 = sample1[0] / (sample1[1] + sample1[0])
per_0 = (per_0*100).round(0)

In [ ]:
# income_type == 6
rnd_num = np.random.uniform(0, 1, 1)

if rnd_num > per_0:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 6), 'gender'] = 1
else:
  respec.loc[(respec['gender'].isnull()) & (respec['income_type'] == 6), 'gender'] = 0

## 7. company_enter_month 컬럼
- 년도를 쓰는 기준이 다른것을 통일해줌(2022년을 2022,22라고 표기되어 있음)

In [ ]:
# 표기 방법 통일
respec.loc[(respec['company_enter_month'] < 10000000),'company_enter_month'] = respec['company_enter_month'] / 100

In [ ]:
respec.loc[(respec['company_enter_month'] >= 10000000),'company_enter_month'] = respec['company_enter_month'] / 10000

In [ ]:
respec['company_enter_month'] = respec['company_enter_month'].round()

In [ ]:
sample = respec[respec['company_enter_month']<0]

In [ ]:
respec.groupby(['reage'])['company_enter_month'].mean()

reage
10.0    2019.929857
20.0    2020.741026
30.0    2019.102214
40.0    2016.921633
50.0    2015.491140
60.0    2016.749222
70.0    2017.085093
Name: company_enter_month, dtype: float64

In [ ]:
# 입사년도의 결측값을 나이를 기준으로 채워줌.
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] <= 10),'company_enter_month'] = 2020
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 10) & (respec['reage'] <= 20),'company_enter_month'] = 2021
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 20) & (respec['reage'] <= 30),'company_enter_month'] = 2020
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 30) & (respec['reage'] <= 40),'company_enter_month'] = 2017
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 40) & (respec['reage'] <= 50),'company_enter_month'] = 2016
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 50) & (respec['reage'] <= 60),'company_enter_month'] = 2017
respec.loc[(respec['company_enter_month'].isnull()) & (respec['reage'] > 60),'company_enter_month'] = 2018

In [ ]:
# 입사년으로 커리어 파생 변수 생성
respec['career'] = 2022 - respec['company_enter_month'] + 1

In [ ]:
respec = respec.drop(['company_enter_month'], axis = 1)

## 8. existing_loan_cnt

In [ ]:
# 데이터 셋 내에 기대출수가 0인 사람이 없으므로, NULL 값인 user의 기대출수는 0일 것이라 판단
respec.loc[respec['existing_loan_cnt'].isnull(), 'existing_loan_cnt'] = 0

## 9. existing_loan_amt

In [ ]:
# 기 대출수가 0이면 기대출 금액도 0(오류 처리)
respec.loc[(respec['existing_loan_amt'].isnull()) & (respec['existing_loan_cnt']==0), 'existing_loan_amt'] = 0

In [ ]:
print(respec['existing_loan_amt'].describe())

count    8.899970e+05
mean     6.385665e+07
std      9.303608e+07
min      0.000000e+00
25%      1.000000e+07
50%      3.700000e+07
75%      7.700000e+07
max      7.512000e+09
Name: existing_loan_amt, dtype: float64

In [ ]:
# 1사분면 ~ 3사분면까지의 값의 평규능로 기대출금액의 결측값을 채워줌
respec.loc[(respec['existing_loan_amt'].isnull()), 'existing_loan_amt'] = (7.700000e+07 + 1.000000e+07) /2

## 10. personal_rehabilitation_yn

In [ ]:
pry_400 =respec[respec['credit_score']<=400]
pry_400.head()

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
392,479935,761774,0.0,2022-03-06 20:09:13,100.0,24000000.0,3,정규직,기타가족소유,20000000.0,대환대출,NaN,NaN,2.0,42000000.0,50.0,3.0
703,305601,619588,1.0,2022-03-19 15:53:49,250.0,20000000.0,3,계약직,전월세,10000000.0,생활비,NaN,NaN,1.0,15000000.0,40.0,2.0
2761,1984793,829044,0.0,2022-03-30 16:35:13,380.0,24000000.0,3,정규직,전월세,20000000.0,생활비,NaN,NaN,0.0,0.0,30.0,3.0
3885,1682821,363307,1.0,2022-06-07 16:49:01,100.0,30000000.0,3,정규직,전월세,10000000.0,생활비,0.0,NaN,1.0,43500000.0,30.0,3.0
6132,387229,622235,1.0,2022-03-10 12:05:15,100.0,39000000.0,3,정규직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,15000000.0,30.0,2.0

In [ ]:
respec['personal_rehabilitation_yn'] = pry_400['personal_rehabilitation_yn'].fillna(1)

In [ ]:
respec['personal_rehabilitation_yn'].isnull().sum()

967268

In [ ]:
df=respec[respec['personal_rehabilitation_yn'].isnull()]
df_sample = df.sample(n=569011, random_state=100)
df_sample

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
723586,663275,759637,1.0,2022-05-30 18:29:37,630.0,60000000.0,3,정규직,자가,40000000.0,대환대출,NaN,NaN,5.0,177000000.0,50.0,23.0
305647,1851112,17579,1.0,2022-04-22 13:46:35,NaN,30000000.0,4,기타,기타가족소유,8000000.0,사업자금,NaN,0.0,0.0,0.0,20.0,2.0
1077225,570183,766927,0.0,2022-06-09 06:03:48,560.0,27000000.0,3,정규직,기타가족소유,3000000.0,생활비,NaN,0.0,3.0,19000000.0,30.0,1.0
240126,1350577,643191,0.0,2022-04-21 00:49:19,720.0,30000000.0,4,기타,자가,10000000.0,생활비,NaN,NaN,2.0,35000000.0,40.0,6.0
798986,1044117,137140,1.0,2022-03-14 09:09:08,NaN,30000000.0,3,정규직,전월세,70000000.0,대환대출,NaN,NaN,0.0,0.0,30.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285645,495264,764580,1.0,2022-03-20 20:31:12,620.0,32000000.0,3,정규직,전월세,32000000.0,생활비,NaN,NaN,12.0,49000000.0,40.0,7.0
897171,828019,714248,0.0,2022-03-04 20:14:40,NaN,26000000.0,3,정규직,기타가족소유,50000000.0,생활비,NaN,NaN,1.0,43500000.0,30.0,2.0
322668,2013048,551143,1.0,2022-05-10 11:53:02,570.0,33000000.0,3,정규직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,17000000.0,30.0,1.0
567628,878167,578898,1.0,2022-03-06 08:03:16,700.0,37000000.0,3,정규직,기타가족소유,50000000.0,생활비,NaN,NaN,4.0,128000000.0,40.0,4.0
853679,1821986,406923,1.0,2022-03-18 21:54:42,620.0,28000000.0,5,정규직,전월세,10000000.0,대환대출,NaN,NaN,1.0,5000000.0,20.0,2.0

In [ ]:
respec['personal_rehabilitation_yn'] = df_sample['personal_rehabilitation_yn'].fillna(0)

In [ ]:
respec['personal_rehabilitation_yn'].isnull().sum()

399742

In [ ]:
respec['personal_rehabilitation_yn'] = respec['personal_rehabilitation_yn'].fillna(1)

In [ ]:
respec['personal_rehabilitation_yn'].isnull().sum()

0

## 11. personal_rehabilitation_complete_yn

In [ ]:
pr_0 = respec['personal_rehabilitation_yn'] == 0
prc_0 = respec['personal_rehabilitation_complete_yn'] == 0

subset = respec[pr_0 & prc_0]
subset

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
4,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,3,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,20.0,2.0
9,311143,646289,1.0,2022-06-07 10:17:19,530.0,28000000.0,3,계약직,기타가족소유,3000000.0,생활비,0.0,0.0,5.0,19000000.0,20.0,1.0
18,1903409,168234,0.0,2022-06-07 09:43:20,560.0,12000000.0,5,기타,기타가족소유,3000000.0,생활비,0.0,0.0,10.0,23000000.0,30.0,2.0
38,1563352,706772,0.0,2022-06-07 23:09:52,640.0,31000000.0,3,정규직,전월세,46000000.0,대환대출,0.0,0.0,4.0,49000000.0,30.0,3.0
61,1810425,317528,1.0,2022-06-07 10:19:28,620.0,38000000.0,3,정규직,전월세,30000000.0,대환대출,0.0,0.0,7.0,98000000.0,30.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394047,95446,285641,1.0,2022-06-21 09:00:14,720.0,33000000.0,3,정규직,전월세,10000000.0,생활비,0.0,0.0,12.0,125000000.0,30.0,2.0
1394052,90345,230032,0.0,2022-06-21 15:18:25,620.0,40000000.0,3,계약직,전월세,30000000.0,주택구입,0.0,0.0,6.0,51000000.0,30.0,12.0
1394065,222649,848692,1.0,2022-06-21 16:46:00,650.0,50000000.0,3,정규직,자가,5000000.0,생활비,0.0,0.0,8.0,400000000.0,40.0,8.0
1394073,1485272,688352,1.0,2022-06-21 15:21:22,610.0,25000000.0,3,정규직,전월세,20000000.0,대환대출,0.0,0.0,1.0,43500000.0,30.0,6.0
1394076,1238468,479009,1.0,2022-06-21 20:37:44,540.0,36000000.0,3,정규직,기타가족소유,3000000.0,생활비,0.0,0.0,4.0,60000000.0,30.0,2.0

In [ ]:
subset['personal_rehabilitation_complete_yn'] =subset['personal_rehabilitation_complete_yn'].replace(0, 2)
subset

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
4,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,3,정규직,기타가족소유,5000000.0,생활비,0.0,2.0,1.0,16000000.0,20.0,2.0
9,311143,646289,1.0,2022-06-07 10:17:19,530.0,28000000.0,3,계약직,기타가족소유,3000000.0,생활비,0.0,2.0,5.0,19000000.0,20.0,1.0
18,1903409,168234,0.0,2022-06-07 09:43:20,560.0,12000000.0,5,기타,기타가족소유,3000000.0,생활비,0.0,2.0,10.0,23000000.0,30.0,2.0
38,1563352,706772,0.0,2022-06-07 23:09:52,640.0,31000000.0,3,정규직,전월세,46000000.0,대환대출,0.0,2.0,4.0,49000000.0,30.0,3.0
61,1810425,317528,1.0,2022-06-07 10:19:28,620.0,38000000.0,3,정규직,전월세,30000000.0,대환대출,0.0,2.0,7.0,98000000.0,30.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394047,95446,285641,1.0,2022-06-21 09:00:14,720.0,33000000.0,3,정규직,전월세,10000000.0,생활비,0.0,2.0,12.0,125000000.0,30.0,2.0
1394052,90345,230032,0.0,2022-06-21 15:18:25,620.0,40000000.0,3,계약직,전월세,30000000.0,주택구입,0.0,2.0,6.0,51000000.0,30.0,12.0
1394065,222649,848692,1.0,2022-06-21 16:46:00,650.0,50000000.0,3,정규직,자가,5000000.0,생활비,0.0,2.0,8.0,400000000.0,40.0,8.0
1394073,1485272,688352,1.0,2022-06-21 15:21:22,610.0,25000000.0,3,정규직,전월세,20000000.0,대환대출,0.0,2.0,1.0,43500000.0,30.0,6.0
1394076,1238468,479009,1.0,2022-06-21 20:37:44,540.0,36000000.0,3,정규직,기타가족소유,3000000.0,생활비,0.0,2.0,4.0,60000000.0,30.0,2.0

In [ ]:
pr_1 = respec['personal_rehabilitation_yn'] != 0
prc_1 = respec['personal_rehabilitation_complete_yn'] != 0

subset1 = respec[pr_1 | prc_1]

In [ ]:
prcy_600 =respec[respec['credit_score']>=600]
prcy_600.head()

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
1,954900,553686,1.0,2022-06-07 14:29:03,870.0,30000000.0,1,정규직,기타가족소유,30000000.0,대환대출,0.0,NaN,1.0,27000000.0,50.0,16.0
2,137274,59516,1.0,2022-06-07 21:40:22,710.0,30000000.0,2,기타,기타가족소유,10000000.0,생활비,1.0,NaN,5.0,15000000.0,20.0,2.0
3,1570936,167320,1.0,2022-06-07 09:40:27,820.0,62000000.0,3,정규직,자가,2000000.0,생활비,1.0,NaN,7.0,344000000.0,30.0,6.0
4,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,3,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,20.0,2.0
7,1146166,588743,0.0,2022-06-07 17:19:33,750.0,46000000.0,3,정규직,기타가족소유,6000000.0,생활비,1.0,0.0,0.0,0.0,30.0,8.0

In [ ]:
respec['personal_rehabilitation_complete_yn'] = prcy_600['personal_rehabilitation_complete_yn'].fillna(1)

In [ ]:
respec['personal_rehabilitation_complete_yn'] = respec['personal_rehabilitation_complete_yn'].fillna(0)

In [ ]:
respec['income_type'] = respec['income_type'].replace(1, '개인사업자').replace(2, '프리랜서').replace(3, '직장가입자(4대보험O)').replace(4, '기타소득').replace(5, '직장가입자(4대보험X)').replace(6, '전문직')

In [ ]:
respec.head()

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
1,954900,553686,1.0,2022-06-07 14:29:03,870.0,30000000.0,개인사업자,정규직,기타가족소유,30000000.0,대환대출,0.0,1.0,1.0,27000000.0,50.0,16.0
2,137274,59516,1.0,2022-06-07 21:40:22,710.0,30000000.0,프리랜서,기타,기타가족소유,10000000.0,생활비,1.0,1.0,5.0,15000000.0,20.0,2.0
3,1570936,167320,1.0,2022-06-07 09:40:27,820.0,62000000.0,직장가입자(4대보험O),정규직,자가,2000000.0,생활비,1.0,1.0,7.0,344000000.0,30.0,6.0
4,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,직장가입자(4대보험O),정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,20.0,2.0
6,1614045,860410,1.0,2022-06-07 11:29:05,590.0,45000000.0,기타소득,기타,자가,15000000.0,대환대출,1.0,0.0,1.0,20000000.0,40.0,6.0

## 12. 모델링

In [ ]:
from sklearn.preprocessing import LabelEncoder # 라벨 인코더
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, precision_score, recall_score, auc
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report, accuracy_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [ ]:
respec1 = respec.drop(['application_id', 'user_id', 'insert_time'], axis = 1)

In [ ]:
respec_train = respec1[respec1['credit_score'].notnull()]
respec_test = respec1[respec1['credit_score'].isnull()]

In [ ]:
# 인코딩
respec_train = pd.get_dummies(respec_train)
respec_test= pd.get_dummies(respec_test)

In [ ]:
train_columns = respec_train.columns
test_columns = respec_test.columns

In [ ]:
respec_train = respec_train.values.astype(float)
respec_test = respec_test.values.astype(float)

In [ ]:
respec_train = pd.DataFrame(respec_train, columns = train_columns)
respec_test = pd.DataFrame(respec_test, columns = test_columns)

In [ ]:
data = respec_train.drop('credit_score',axis=1)
target = respec_train['credit_score']

In [ ]:
standardScaler = StandardScaler()
print(standardScaler.fit(data))
data_scaled = standardScaler.transform(data)

StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(data_scaled, target, test_size=0.3, random_state=0)

### 테스트

In [ ]:
test_data = respec_test.drop('credit_score',axis=1)
target = respec_test['credit_score']

In [ ]:
standardScaler = StandardScaler()
print(standardScaler.fit(test_data))
data_scaled = standardScaler.transform(test_data)

StandardScaler()

### XGB

In [ ]:
import xgboost

model = xgboost.XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=14, random_state = 2022, colsample_bytree = 0.75, min_child_weight = 0.5)
model.fit(X_train, y_train)

[16:35:06] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(colsample_bytree=0.75, learning_rate=0.2, max_depth=14,
             min_child_weight=0.5, n_estimators=1000, random_state=2022)

In [ ]:
y_pred = model.predict(X_val)

mse = mean_squared_error(y_val, y_pred)
rmse = np.sqrt(mse)
print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_pred)))

MSE : 4543.167, RMSE : 67.403
Variance score : 0.652

In [ ]:
xbg_preds_test = model.predict(test_data.to_numpy())

In [ ]:
respec.loc[(respec['credit_score'].isnull()), 'credit_score'] = xbg_preds_test.round()

### 전처리 및 EDA

In [ ]:
# KCB 신용등급 점수표 기준
respec.loc[(respec['credit_score'] >= 942) & (respec['credit_score'] <= 1000),'credit_grade'] = 1
respec.loc[(respec['credit_score'] >= 891) & (respec['credit_score'] <= 941),'credit_grade'] = 2
respec.loc[(respec['credit_score'] >= 832) & (respec['credit_score'] <= 890),'credit_grade'] = 3
respec.loc[(respec['credit_score'] >= 768) & (respec['credit_score'] <= 831),'credit_grade'] = 4
respec.loc[(respec['credit_score'] >= 698) & (respec['credit_score'] <= 767),'credit_grade'] = 5
respec.loc[(respec['credit_score'] >= 630) & (respec['credit_score'] <= 697),'credit_grade'] = 6
respec.loc[(respec['credit_score'] >= 530) & (respec['credit_score'] <= 629),'credit_grade'] = 7
respec.loc[(respec['credit_score'] >= 454) & (respec['credit_score'] <= 529),'credit_grade'] = 8
respec.loc[(respec['credit_score'] >= 335) & (respec['credit_score'] <= 453),'credit_grade'] = 9
respec.loc[(respec['credit_score'] >= 0) & (respec['credit_score'] <= 334),'credit_grade'] = 10

respec = respec.drop(['credit_score'], axis = 1)

In [ ]:
respec.isnull().sum()

application_id                         0
user_id                                0
gender                                 0
insert_time                            0
yearly_income                          0
income_type                            0
employment_type                        0
houseown_type                          0
desired_amount                         0
purpose                                0
personal_rehabilitation_yn             0
personal_rehabilitation_complete_yn    0
existing_loan_cnt                      0
existing_loan_amt                      0
reage                                  0
career                                 0
credit_grade                           0
dtype: int64

## 13. 전처리한 spec데이터 군집화(Cluster:5)

In [ ]:
from sklearn.preprocessing import PowerTransformer
from kmodes.kprototypes import KPrototypes

In [ ]:
data = respec.drop(columns=['application_id','user_id','insert_time'])

In [ ]:
kproto = KPrototypes(n_clusters = 5, init='Huang',n_jobs=-1,n_init=1,verbose=True)
kproto.fit(data, categorical=[0,2,3,4,6,7,8])
centroids = kproto.cluster_centroids_
labels  = kproto.labels_

In [ ]:
data['Labels'] = labels

In [ ]:
respec.to_csv("/content/drive/MyDrive/2022_Bigcontest/Data/respec_final.csv", index = False)