In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# 데이터 불러오기
merge = pd.read_csv('/Users/sungahwang/Desktop/BigContest_data/merge.csv')
merge

,application_id,bank_id,product_id,loan_limit,loan_rate,is_applied,weekday,loanapply_insert_hour,user_id,gender,...,existing_loan_amt,reage,career,credit_grade,spec_clust,action_cnt,use_day_cnt,first_event,timeout_sum(s),cluster2
0,1748340,7,191,42000000.0,13.6,NaN,Tuesday,13,430982.0,1.0,...,15000000.0,20.0,1.0,7.0,2.0,176.0,17.0,EndLoanApply,201.0,4
1,1748340,25,169,24000000.0,17.9,NaN,Tuesday,13,430982.0,1.0,...,15000000.0,20.0,1.0,7.0,2.0,176.0,17.0,EndLoanApply,201.0,4
2,1748340,2,7,24000000.0,18.5,NaN,Tuesday,13,430982.0,1.0,...,15000000.0,20.0,1.0,7.0,2.0,176.0,17.0,EndLoanApply,201.0,4
3,1748340,4,268,29000000.0,10.8,NaN,Tuesday,13,430982.0,1.0,...,15000000.0,20.0,1.0,7.0,2.0,176.0,17.0,EndLoanApply,201.0,4
4,1748340,11,118,5000000.0,16.4,NaN,Tuesday,13,430982.0,1.0,...,15000000.0,20.0,1.0,7.0,2.0,176.0,17.0,EndLoanApply,201.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13525488,1969227,2,7,30000000.0,13.6,0.0,Monday,14,109899.0,1.0,...,107000000.0,40.0,2.0,7.0,4.0,178.0,27.0,EndLoanApply,350.0,0
13525489,1969227,33,110,9000000.0,14.4,0.0,Monday,14,109899.0,1.0,...,107000000.0,40.0,2.0,7.0,4.0,178.0,27.0,EndLoanApply,350.0,2
13525490,1969227,50,142,3000000.0,11.2,0.0,Monday,14,109899.0,1.0,...,107000000.0,40.0,2.0,7.0,4.0,178.0,27.0,EndLoanApply,350.0,0
13525491,1969227,22,100,4000000.0,15.3,0.0,Monday,14,109899.0,1.0,...,107000000.0,40.0,2.0,7.0,4.0,178.0,27.0,EndLoanApply,350.0,0
13525492,1969227,19,231,9000000.0,15.5,0.0,Monday,14,109899.0,1.0,...,107000000.0,40.0,2.0,7.0,4.0,178.0,27.0,EndLoanApply,350.0,0

In [3]:
merge.groupby(['cluster2'])['loan_limit'].mean()

cluster2
0    2.144275e+07
1    2.414862e+07
2    2.094330e+07
3    2.486901e+07
4    1.699371e+07
5    3.181512e+07
Name: loan_limit, dtype: float64

In [4]:
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 0),'loan_limit'] = 2.144275e+07
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 1),'loan_limit'] = 2.414862e+07
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 2),'loan_limit'] = 2.094330e+07
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 3),'loan_limit'] = 2.486901e+07
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 4),'loan_limit'] = 1.699371e+07
merge.loc[(merge['loan_limit'].isnull()) & (merge['cluster2'] == 5),'loan_limit'] = 3.181512e+07

In [5]:
merge.groupby(['cluster2'])['loan_rate'].mean()

cluster2
0    13.322165
1    12.640666
2    11.389832
3    11.941096
4    13.028280
5    16.070806
Name: loan_rate, dtype: float64

In [6]:
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 0),'loan_rate'] = 13.322165
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 1),'loan_rate'] = 12.640666
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 2),'loan_rate'] = 11.389832
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 3),'loan_rate'] = 11.941096
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 4),'loan_rate'] = 13.028280
merge.loc[(merge['loan_rate'].isnull()) & (merge['cluster2'] == 5),'loan_rate'] = 16.070806

In [7]:
merge.isnull().sum()

application_id                               0
bank_id                                      0
product_id                                   0
loan_limit                                   0
loan_rate                                    0
is_applied                             3255482
weekday                                      0
loanapply_insert_hour                        0
user_id                                      0
gender                                       0
insert_time                                  0
yearly_income                                0
income_type                                  0
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn                   0
personal_rehabilitation_complete_yn          0
existing_loan_cnt                            0
existing_loan_amt                            0
reage                                        0
career                                       0
credit_grade                                 0
spec_clust                                   0
action_cnt                              488001
use_day_cnt                             488001
first_event                             488001
timeout_sum(s)                          488001
cluster2                                     0
dtype: int64

In [9]:
merge.to_csv("merge_clust.csv", index = False)