##1. 라이브러리 및 패키지 불러오기

In [ ]:
import numpy as np # 행렬 연산 / 데이터 핸들링
import pandas as pd # 데이터 분석
import matplotlib.pyplot as plt # 그래프 시각화
import seaborn as sns # 그래프 시각화

In [ ]:
from sklearn.preprocessing import LabelEncoder # 라벨 인코더
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_error

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, precision_score, recall_score, auc
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report, accuracy_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

In [ ]:
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.model_selection import GridSearchCV

In [ ]:
# Robust regression
import statsmodels.api as sm

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

In [ ]:
respec = pd.read_csv('/content/drive/MyDrive/2022_Bigcontest/Data/respec.csv')
respec.head()

,Unnamed: 0,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
0,1,954900,553686,1.0,2022-06-07 14:29:03,870.0,30000000.0,1,정규직,기타가족소유,30000000.0,SWITCHLOAN,0.0,1.0,1.0,27000000.0,50.0,16.0
1,2,137274,59516,1.0,2022-06-07 21:40:22,710.0,30000000.0,2,기타,기타가족소유,10000000.0,LIVING,1.0,1.0,5.0,15000000.0,20.0,2.0
2,3,1570936,167320,1.0,2022-06-07 09:40:27,820.0,62000000.0,3,정규직,자가,2000000.0,LIVING,1.0,1.0,7.0,344000000.0,30.0,6.0
3,4,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,3,정규직,기타가족소유,5000000.0,LIVING,0.0,0.0,1.0,16000000.0,20.0,2.0
4,6,1614045,860410,1.0,2022-06-07 11:29:05,590.0,45000000.0,4,기타,자가,15000000.0,SWITCHLOAN,1.0,0.0,1.0,20000000.0,40.0,6.0

In [ ]:
respec = respec.drop(['Unnamed: 0'], axis = 1)

# 2. 전처리

In [ ]:
respec_final = respec

In [ ]:
respec = respec.drop(['application_id', 'user_id', 'insert_time'], axis = 1)

In [ ]:
respec_train = respec[respec['credit_score'].notnull()]
respec_train

,Unnamed: 0,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
0,1,1.0,870.0,30000000.0,1,정규직,기타가족소유,30000000.0,SWITCHLOAN,0.0,1.0,1.0,27000000.0,50.0,16.0
1,2,1.0,710.0,30000000.0,2,기타,기타가족소유,10000000.0,LIVING,1.0,1.0,5.0,15000000.0,20.0,2.0
2,3,1.0,820.0,62000000.0,3,정규직,자가,2000000.0,LIVING,1.0,1.0,7.0,344000000.0,30.0,6.0
3,4,1.0,630.0,36000000.0,3,정규직,기타가족소유,5000000.0,LIVING,0.0,0.0,1.0,16000000.0,20.0,2.0
4,6,1.0,590.0,45000000.0,4,기타,자가,15000000.0,SWITCHLOAN,1.0,0.0,1.0,20000000.0,40.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968747,1394210,1.0,730.0,60000000.0,1,정규직,전월세,15000000.0,BUSINESS,0.0,1.0,1.0,43500000.0,20.0,2.0
968748,1394211,1.0,590.0,25000000.0,2,기타,기타가족소유,5000000.0,BUSINESS,0.0,0.0,0.0,0.0,20.0,2.0
968749,1394212,1.0,980.0,20000000.0,4,기타,자가,50000000.0,LIVING,0.0,1.0,1.0,43500000.0,60.0,6.0
968750,1394213,1.0,750.0,75000000.0,3,정규직,자가,100000000.0,SWITCHLOAN,1.0,1.0,8.0,200000000.0,40.0,14.0
968751,1394214,1.0,640.0,50000000.0,3,정규직,자가,10000000.0,SWITCHLOAN,0.0,1.0,10.0,117000000.0,40.0,6.0

In [ ]:
respec_test = respec[respec['credit_score'].isnull()]
respec_test

,Unnamed: 0,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,career
15,25,1.0,NaN,22000000.0,3,정규직,전월세,22000000.0,SWITCHLOAN,0.0,0.0,0.0,0.0,40.0,14.0
25,39,1.0,NaN,45000000.0,4,기타,전월세,30000000.0,BUSINESS,0.0,0.0,1.0,43500000.0,40.0,6.0
41,64,0.0,NaN,48000000.0,3,정규직,자가,280000000.0,BUYHOUSE,1.0,0.0,0.0,0.0,30.0,11.0
46,72,0.0,NaN,130000000.0,1,정규직,자가,40000000.0,LIVING,0.0,0.0,4.0,45000000.0,40.0,4.0
48,76,0.0,NaN,12000000.0,3,계약직,자가,10000000.0,LIVING,0.0,0.0,0.0,0.0,40.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968626,1394041,1.0,NaN,46000000.0,3,정규직,기타가족소유,50000000.0,LIVING,1.0,0.0,0.0,0.0,50.0,1.0
968671,1394107,1.0,NaN,33000000.0,3,정규직,기타가족소유,30000000.0,SWITCHLOAN,1.0,0.0,0.0,0.0,30.0,4.0
968684,1394127,1.0,NaN,30000000.0,3,정규직,전월세,10000000.0,LIVING,0.0,0.0,0.0,0.0,30.0,5.0
968696,1394141,1.0,NaN,44000000.0,3,정규직,전월세,20000000.0,ETC,1.0,0.0,0.0,0.0,30.0,5.0
968752,1394215,0.0,NaN,35000000.0,2,기타,자가,20000000.0,LIVING,0.0,0.0,0.0,0.0,40.0,12.0

In [ ]:
# 인코딩
respec_train = pd.get_dummies(respec_train)
respec_test= pd.get_dummies(respec_test)

In [ ]:
data = respec_train.drop('credit_score',axis=1)
target = respec_train['credit_score']

In [ ]:
standardScaler = StandardScaler()
print(standardScaler.fit(data))
data_scaled = standardScaler.transform(data)

StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(data_scaled, target, test_size=0.3, random_state=0)

## 2) 적용

In [ ]:
test_data = respec_test.drop('credit_score',axis=1)
target = respec_test['credit_score']

In [ ]:
standardScaler = StandardScaler()
print(standardScaler.fit(test_data))
data_scaled = standardScaler.transform(test_data)

StandardScaler()

#3. LightGBM

## 1) respec.ver1

In [ ]:
lgb = lgb.LGBMRegressor()
lgb.fit(X_train, y_train)
lgb_preds= lgb.predict(X_val)

In [ ]:
lgb_preds

array([565.93754283, 393.92896381, 656.95329419, ..., 725.835796  ,
       673.15999252, 687.01214852])

In [ ]:
mse = mean_squared_error(y_val, lgb_preds)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,lgb_preds)))

MSE : 7687.389, RMSE : 87.678
Variance score : 0.508

## 2) respec.ver2

In [ ]:
lgb = lgb.LGBMRegressor()
lgb.fit(X_train, y_train)
lgb_preds= lgb.predict(X_val)

In [ ]:
mse = mean_squared_error(y_val, lgb_preds)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,lgb_preds)))

MSE : 7227.280, RMSE : 85.013
Variance score : 0.446

## test

In [ ]:
lgb_preds_test = lgb.predict(test_data)

In [ ]:
respec_final.loc[(respec_final['credit_score'].isnull()), 'credit_score'] = lgb_preds_test.round()

In [ ]:
respec_final.isnull().sum()

application_id                         0
user_id                                0
gender                                 0
insert_time                            0
credit_score                           0
yearly_income                          0
income_type                            0
employment_type                        0
houseown_type                          0
desired_amount                         0
purpose                                0
personal_rehabilitation_yn             0
personal_rehabilitation_complete_yn    0
existing_loan_cnt                      0
existing_loan_amt                      0
reage                                  0
career                                 0
dtype: int64

In [ ]:
respec_final.to_csv('/content/drive/MyDrive/2022_Bigcontest/Data/respec_final.csv')

##1) LightGBM ver.2

- params['learning_rate'] = 0.01
- params['boosting_type'] = 'gbdt' # 부스팅 방법 / 정확도가 중요할때는 딥러닝 드랍아웃과 같은 dart
- params['objective'] = 'regression_l2' # Metric, Loss 관련 파라미터 / binary(Cross Entropy)
- params['num_leaves'] = 7 # 파라미터 튜닝
- params['max_depth'] = 3 # 파라미터 튜닝
params['n_estimators'] = 50

In [ ]:
params = {}
params['n_estimators'] = 500
params['learning_rate'] = 0.01
params['boosting_type'] = 'gbdt' # 부스팅 방법 / 정확도가 중요할때는 딥러닝 드랍아웃과 같은 dart
#params['objective'] = 'regression_l2' # Metric, Loss 관련 파라미터 / binary(Cross Entropy)
#params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5 
params['num_leaves'] = 7 # 파라미터 튜닝
params['max_depth'] = 10 # 파라미터 튜닝
params['random_state'] = 32
clf = lgb.LGBMClassifier(params)

In [ ]:
X_test, X_val, y_test, y_val = train_test_split(X_val, y_val, test_size=0.5, random_state=42)

In [ ]:
lgb_clf = lgb.LGBMClassifier(n_estimators = 500, learning_rate = 0.01, boosting_type = 'gbdt', 
                             sub_feature = 0.5, num_leaves = 7, max_depth = 10, random_state = 2022)
lgb_clf.fit(X_train, y_train)
y_pred = lgb_clf.predict(X_val)

In [ ]:
mse = mean_squared_error(y_val, y_pred)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse , rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_pred)))

MSE : 13833.859, RMSE : 117.617
Variance score : 0.111

##2) LightGBM ver.2

## 2) 파라미터 튜닝

In [ ]:
def score_mse(test, predict):
  return mean_squared_error(test, predict)

In [ ]:
params = {
    'num_leaves': [7, 14, 21, 28],
    'learning_rate': [0.1, 0.01],
    'max_depth': [3, 5],
    'n_estimators': [50, 100],
}

grid = GridSearchCV(LGBMRegressor(random_state=0), params, scoring= make_scorer(score_mse), cv=5)
grid.fit(X_train, y_train)

KeyboardInterrupt: ignored

In [ ]:
print('최적 하이퍼 파라미터:{0}, 최적 mse:{1:.3f}'.format(grid.best_params_,
                                                 grid.best_score_))

#3. LinearRegression

In [ ]:
lr=LinearRegression()
res = lr.fit(X_train, y_train)

In [ ]:
y_preds = lr.predict(X_val)
mse=mean_squared_error(y_val, y_preds)
rmse=np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse,rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_preds)))

MSE : 9833.577, RMSE : 99.164
Variance score : 0.371

# 4. XGBoost

##1)

In [ ]:
#MSE : 11913.079, RMSE : 109.147
#model = XGBClassifier(n_estimators=500, learning_rate=0.2, max_depth=4, random_state = 32)

In [ ]:
model = XGBClassifier(n_estimators=500, learning_rate=0.3, max_depth=10, random_state = 32)

In [ ]:
# 모델 학습
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_train)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse, rmse))

##2)

In [ ]:
params = {'max_depth' : 3,
         'eta' : 0.1, 
         'objective' : 'binary:logistic',
         'eval_metric' : 'logloss',
         'early_stoppings' : 100 }

num_rounds = 400

In [ ]:
# train 데이터 세트는 'train', evaluation(test) 데이터 세트는 'eval' 로 명기
wlist = [(dtrain, 'train'), (dtest,'eval')]
# 하이퍼 파라미터와 early stopping 파라미터를 train() 함수의 파라미터로 전달
xgb_model = xgb.train(params = params, dtrain=dtrain, num_boost_round=num_rounds, evals=wlist)

##3) 파라미터 튜닝

In [ ]:
xgb_model = XGBClassifier(n_estimators=100)

# 후보 파라미터 선정
params = {'max_depth':[8,12], 'min_child_weight':[1,3], 'colsample_bytree':[0.5,0.75]}

# gridsearchcv 객체 정보 입력(어떤 모델, 파라미터 후보, 교차검증 몇 번)
gridcv = GridSearchCV(xgb_model, param_grid=params, cv=3)

# 파라미터 튜닝 시작
gridcv.fit(X_train, y_train, early_stopping_rounds=30, eval_metric='rmse', eval_set=[(X_val, y_val)])

#튜닝된 파라미터 출력
print(gridcv.best_params_)

# 1차적으로 튜닝된 파라미터를 가지고 객체 생성
xgb_model = XGBClassifier(n_estimators=1000, learning_rate=0.02, max_depth=7, min_child_weight=1, colsample_bytree=0.75, reg_alpha=0.03)

# 학습
xgb_model.fit(X_train, y_train, early_stopping_rounds=200, eval_metric='rmse', eval_set=[(X_val, y_val)])