In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas_profiling 

# 전처리
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
log_data = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data.csv')
spec_data = pd.read_csv('/content/gdrive/MyDrive/dataset/user_spec.csv')
loan_data = pd.read_csv('/content/gdrive/MyDrive/dataset/loan_result.csv')
relog_data = pd.read_csv('/content/gdrive/MyDrive/dataset/relog.csv')

In [5]:
relog_data

,Unnamed: 0,user_id,timestamp,event
0,11709372,1,2022-05-03 14:52:28,11-11-2-8-11
1,10428909,7,2022-05-22 16:39:49,11
2,9627339,9,2022-05-21 23:37:58,11-11-11
3,9505105,11,2022-03-24 10:53:59,1-11-8-11-9-6-5-4-7-11-8-8-1-11-8-5-4-7-11-8-8...
4,1447554,12,2022-03-14 01:13:11,1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-...
...,...,...,...,...
584631,2012632,879693,2022-05-13 11:29:49,6-5-4-7-1-7-6-1-8-11-6-7-1-6-5-4-6-5-4-6-7-7-7...
584632,14380169,879694,2022-03-31 20:07:23,6-5-4-7-7-7
584633,6068504,879695,2022-05-27 12:48:32,6-5-4-7
584634,7298665,879696,2022-03-14 05:35:34,2-8-11-11-8-11-1-2-5-4-7
584635,8248077,879698,2022-05-24 22:33:24,1-6-5

- 7-7-7, 11-11-11과 같이 반복되는 데이터는 무엇일까...? 앱을 실행시켜 놓은 후 다른 앱을 실행하거나, 메신저등의 행동을 하고 온사람들...?
- 어떻게 로그인 부터 안하고 다른 행동들을 먼저 시작하였는가

1. 핀다 사용해보면서 순서에 따라 행동을 정의해야 할 필요성
2. 파생변수 :
- 하루에 몇번 앱에 접속하였는지
- 총 몇번 앱에 접속하였는지
- 각 행동으로 넘어갈때 소요시간 (행동의 time_stamp - 그 다음 행동의 time_stamp) 그리고 이것들의 평균을 구한다음 가장 오래걸리는 행동 파악
- 신규 사용자: 사용경험이 1회인 사용자
- 재방문 사용자: 사용경험이 2회 이상인 사용자

- use_loanmanage : 대출관리서비스 이용 : is applied 가 1인지 확인하기 나중에
- 신규 이용자와 기존 이용자 구분하기
- 한도조회 서비스 이용 고객 : 1. sign up 2.open App 3.Login 4.ViewLoanApplyIntro 5. Start Loan Apply 6.

In [ ]:
- use_