In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# 데이터 불러오기
data = pd.read_csv('/Users/sungahwang/Desktop/BigContest_data/log_Preprocessing.csv')
data

,Unnamed: 0,user_id,timestamp,event,user_id_cnt,user_id_day_cnt,first_event,timeout_sum
0,0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,0 days 00:00:08
1,1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0 days 00:00:00
2,2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0 days 00:00:00
3,3,11,2022-03-24 10:53:59,4-11-5-11-6-1-2-8-3-5-5-11-4-11-5-2-8-3-11-5-5...,43,4,EndLoanApply,0 days 00:00:30
4,4,12,2022-03-14 01:13:11,4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-...,120,14,EndLoanApply,0 days 00:03:20
...,...,...,...,...,...,...,...,...
584631,584631,879693,2022-05-13 11:29:49,1-2-8-3-4-1-3-4-5-11-1-3-4-1-2-8-1-2-8-1-3-3-3...,61,8,EndLoanApply,0 days 00:01:26
584632,584632,879694,2022-03-31 20:07:23,1-2-8-3-3-3,6,1,EndLoanApply,0 days 00:00:00
584633,584633,879695,2022-05-27 12:48:32,1-2-8-3,4,1,EndLoanApply,0 days 00:00:00
584634,584634,879696,2022-03-14 05:35:34,7-5-11-11-5-11-4-7-2-8-3,11,1,EndLoanApply,0 days 00:00:30
584635,584635,879698,2022-05-24 22:33:24,4-1-2,3,1,NaN,0 days 00:00:08

In [3]:
data = data.drop(['Unnamed: 0'], axis = 1)

# timeout_sum -> timeout_sum(s)

In [4]:
data['timeout_sum'].unique()

array(['0 days 00:00:08', '0 days 00:00:00', '0 days 00:00:30', ...,
       '0 days 00:24:30', '0 days 00:18:40', '0 days 00:20:48'],
      dtype=object)

In [5]:
data['timeout_sum(s)'] = pd.to_timedelta(data['timeout_sum']).view(np.int64) / 1e9
data.head(3)

,user_id,timestamp,event,user_id_cnt,user_id_day_cnt,first_event,timeout_sum,timeout_sum(s)
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,0 days 00:00:08,8.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0 days 00:00:00,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0 days 00:00:00,0.0

In [6]:
data = data.drop(['timeout_sum'], axis = 1)

In [7]:
data['timeout_sum(s)'].unique()

array([   8.,    0.,   30., ..., 1470., 1120., 1248.])

In [8]:
data['timeout_sum(s)'].max()

15322.0

# rename(user_id_cnt -> action_cnt) : 직관적인 이해 위해

In [9]:
data.rename(columns={'user_id_cnt': 'action_cnt'}, inplace=True)

In [10]:
data.head(3)

,user_id,timestamp,event,action_cnt,user_id_day_cnt,first_event,timeout_sum(s)
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,8.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0

# rename(user_id_day_cnt -> use_day_cnt)

In [11]:
data.rename(columns={'user_id_day_cnt': 'use_day_cnt'}, inplace=True)

In [12]:
data.head(3)

,user_id,timestamp,event,action_cnt,use_day_cnt,first_event,timeout_sum(s)
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,8.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0

# first_event 결측값 -> Others

In [13]:
data.isnull().sum()

user_id               0
timestamp             0
event                 0
action_cnt            0
use_day_cnt           0
first_event       73932
timeout_sum(s)        0
dtype: int64

In [14]:
data['first_event'] = data['first_event'].fillna('Others')

In [15]:
data['first_event'].unique()

array(['GetCreditInfo', 'EndLoanApply', 'Others', 'UseLoanManage',
       'UseDSRCalc'], dtype=object)

In [16]:
data.isnull().sum()

user_id           0
timestamp         0
event             0
action_cnt        0
use_day_cnt       0
first_event       0
timeout_sum(s)    0
dtype: int64

In [17]:
data.to_csv("log_data_final.csv", index = False)