In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
log_data = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data_final.csv')
log_data

,user_id,timestamp,event,action_cnt,use_day_cnt,first_event,timeout_sum(s)
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,8.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0
3,11,2022-03-24 10:53:59,4-11-5-11-6-1-2-8-3-5-5-11-4-11-5-2-8-3-11-5-5...,43,4,EndLoanApply,30.0
4,12,2022-03-14 01:13:11,4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-...,120,14,EndLoanApply,200.0
...,...,...,...,...,...,...,...
584631,879693,2022-05-13 11:29:49,1-2-8-3-4-1-3-4-5-11-1-3-4-1-2-8-1-2-8-1-3-3-3...,61,8,EndLoanApply,86.0
584632,879694,2022-03-31 20:07:23,1-2-8-3-3-3,6,1,EndLoanApply,0.0
584633,879695,2022-05-27 12:48:32,1-2-8-3,4,1,EndLoanApply,0.0
584634,879696,2022-03-14 05:35:34,7-5-11-11-5-11-4-7-2-8-3,11,1,EndLoanApply,30.0
584635,879698,2022-05-24 22:33:24,4-1-2,3,1,Others,8.0

In [4]:
log = pd.read_csv('/content/gdrive/MyDrive/dataset/log_data.csv')
log

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [5]:
log_data_1 = pd.read_csv('/content/gdrive/MyDrive/dataset/log_1.csv')
log_data_1

,Unnamed: 0,user_id,timestamp,event,user_id_cnt,user_id_day_cnt,first_event,is_applied,timeout_sum
0,0,1,2022-05-03 14:52:28,11-11-2-8-11,5,2,GetCreditInfo,0.0,0 days 00:00:08
1,1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0,0 days 00:00:00
2,2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0,0 days 00:00:00
3,3,11,2022-03-24 10:53:59,1-11-8-11-9-6-5-4-7-11-8-8-1-11-8-5-4-7-11-8-8...,43,4,EndLoanApply,1.0,0 days 00:00:30
4,4,12,2022-03-14 01:13:11,1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-7-1-2-6-5-4-7-7-...,120,14,EndLoanApply,0.0,0 days 00:03:20
...,...,...,...,...,...,...,...,...,...
584631,584631,879693,2022-05-13 11:29:49,6-5-4-7-1-7-6-1-8-11-6-7-1-6-5-4-6-5-4-6-7-7-7...,61,8,EndLoanApply,1.0,0 days 00:01:26
584632,584632,879694,2022-03-31 20:07:23,6-5-4-7-7-7,6,1,EndLoanApply,0.0,0 days 00:00:00
584633,584633,879695,2022-05-27 12:48:32,6-5-4-7,4,1,EndLoanApply,1.0,0 days 00:00:00
584634,584634,879696,2022-03-14 05:35:34,2-8-11-11-8-11-1-2-5-4-7,11,1,EndLoanApply,1.0,0 days 00:00:30
584635,584635,879698,2022-05-24 22:33:24,1-6-5,3,1,others,0.0,0 days 00:00:08

각 유저의 event별 count_unstack

In [6]:
log_1 = log.groupby(['user_id','event']).agg({"event":"count"})

In [7]:
log_1

                            event
user_id event
1       GetCreditInfo           3
        Login                   1
        UseLoanManage           1
7       GetCreditInfo           1
9       GetCreditInfo           3
...                           ...
879696  UseLoanManage           2
        ViewLoanApplyIntro      1
879698  OpenApp                 1
        StartLoanApply          1
        ViewLoanApplyIntro      1

[2860127 rows x 1 columns]

In [8]:
log2 = log_1.unstack()
log2

                          event                                           \
event   CompleteIDCertification EndLoanApply GetCreditInfo Login OpenApp
user_id
1                           NaN          NaN           3.0   1.0     NaN
7                           NaN          NaN           1.0   NaN     NaN
9                           NaN          NaN           3.0   NaN     NaN
11                          4.0          7.0           8.0   NaN     5.0
12                         15.0         39.0           5.0  15.0    15.0
...                         ...          ...           ...   ...     ...
879693                      6.0         12.0           2.0   NaN     9.0
879694                      1.0          3.0           NaN   NaN     NaN
879695                      1.0          1.0           NaN   NaN     NaN
879696                      1.0          1.0           3.0   2.0     1.0
879698                      NaN          NaN           NaN   NaN     1.0

                                                                      \
event   SignUp StartLoanApply UseDSRCalc UseLoanManage UsePrepayCalc
user_id
1          NaN            NaN        NaN           1.0           NaN
7          NaN            NaN        NaN           NaN           NaN
9          NaN            NaN        NaN           NaN           NaN
11         NaN            4.0        NaN           9.0           1.0
12         NaN           15.0        NaN           1.0           NaN
...        ...            ...        ...           ...           ...
879693     NaN           17.0        NaN           5.0           NaN
879694     NaN            1.0        NaN           NaN           NaN
879695     NaN            1.0        NaN           NaN           NaN
879696     NaN            NaN        NaN           2.0           NaN
879698     NaN            1.0        NaN           NaN           NaN


event   ViewLoanApplyIntro
user_id
1                      NaN
7                      NaN
9                      NaN
11                     5.0
12                    15.0
...                    ...
879693                10.0
879694                 1.0
879695                 1.0
879696                 1.0
879698                 1.0

[584636 rows x 11 columns]

In [9]:
log2 = log2.fillna(0)
log2

                          event                                           \
event   CompleteIDCertification EndLoanApply GetCreditInfo Login OpenApp
user_id
1                           0.0          0.0           3.0   1.0     0.0
7                           0.0          0.0           1.0   0.0     0.0
9                           0.0          0.0           3.0   0.0     0.0
11                          4.0          7.0           8.0   0.0     5.0
12                         15.0         39.0           5.0  15.0    15.0
...                         ...          ...           ...   ...     ...
879693                      6.0         12.0           2.0   0.0     9.0
879694                      1.0          3.0           0.0   0.0     0.0
879695                      1.0          1.0           0.0   0.0     0.0
879696                      1.0          1.0           3.0   2.0     1.0
879698                      0.0          0.0           0.0   0.0     1.0

                                                                      \
event   SignUp StartLoanApply UseDSRCalc UseLoanManage UsePrepayCalc
user_id
1          0.0            0.0        0.0           1.0           0.0
7          0.0            0.0        0.0           0.0           0.0
9          0.0            0.0        0.0           0.0           0.0
11         0.0            4.0        0.0           9.0           1.0
12         0.0           15.0        0.0           1.0           0.0
...        ...            ...        ...           ...           ...
879693     0.0           17.0        0.0           5.0           0.0
879694     0.0            1.0        0.0           0.0           0.0
879695     0.0            1.0        0.0           0.0           0.0
879696     0.0            0.0        0.0           2.0           0.0
879698     0.0            1.0        0.0           0.0           0.0


event   ViewLoanApplyIntro
user_id
1                      0.0
7                      0.0
9                      0.0
11                     5.0
12                    15.0
...                    ...
879693                10.0
879694                 1.0
879695                 1.0
879696                 1.0
879698                 1.0

[584636 rows x 11 columns]

In [10]:
merge = pd.merge(log_data, log2, on='user_id', how = 'left')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left,2 on the right)
  """Entry point for launching an IPython kernel.

In [11]:
merge

,user_id,timestamp,event,action_cnt,use_day_cnt,first_event,timeout_sum(s),"(event, CompleteIDCertification)","(event, EndLoanApply)","(event, GetCreditInfo)","(event, Login)","(event, OpenApp)","(event, SignUp)","(event, StartLoanApply)","(event, UseDSRCalc)","(event, UseLoanManage)","(event, UsePrepayCalc)","(event, ViewLoanApplyIntro)"
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,8.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,2022-03-24 10:53:59,4-11-5-11-6-1-2-8-3-5-5-11-4-11-5-2-8-3-11-5-5...,43,4,EndLoanApply,30.0,4.0,7.0,8.0,0.0,5.0,0.0,4.0,0.0,9.0,1.0,5.0
4,12,2022-03-14 01:13:11,4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-...,120,14,EndLoanApply,200.0,15.0,39.0,5.0,15.0,15.0,0.0,15.0,0.0,1.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,2022-05-13 11:29:49,1-2-8-3-4-1-3-4-5-11-1-3-4-1-2-8-1-2-8-1-3-3-3...,61,8,EndLoanApply,86.0,6.0,12.0,2.0,0.0,9.0,0.0,17.0,0.0,5.0,0.0,10.0
584632,879694,2022-03-31 20:07:23,1-2-8-3-3-3,6,1,EndLoanApply,0.0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
584633,879695,2022-05-27 12:48:32,1-2-8-3,4,1,EndLoanApply,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
584634,879696,2022-03-14 05:35:34,7-5-11-11-5-11-4-7-2-8-3,11,1,EndLoanApply,30.0,1.0,1.0,3.0,2.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0
584635,879698,2022-05-24 22:33:24,4-1-2,3,1,Others,8.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [12]:
merge.isnull().sum()

user_id                             0
timestamp                           0
event                               0
action_cnt                          0
use_day_cnt                         0
first_event                         0
timeout_sum(s)                      0
(event, CompleteIDCertification)    0
(event, EndLoanApply)               0
(event, GetCreditInfo)              0
(event, Login)                      0
(event, OpenApp)                    0
(event, SignUp)                     0
(event, StartLoanApply)             0
(event, UseDSRCalc)                 0
(event, UseLoanManage)              0
(event, UsePrepayCalc)              0
(event, ViewLoanApplyIntro)         0
dtype: int64

In [13]:
log_data_1 = log_data_1[['user_id','is_applied']]

In [14]:
log_data = pd.merge(merge, log_data_1, on='user_id', how = 'left')
log_data

,user_id,timestamp,event,action_cnt,use_day_cnt,first_event,timeout_sum(s),"(event, CompleteIDCertification)","(event, EndLoanApply)","(event, GetCreditInfo)","(event, Login)","(event, OpenApp)","(event, SignUp)","(event, StartLoanApply)","(event, UseDSRCalc)","(event, UseLoanManage)","(event, UsePrepayCalc)","(event, ViewLoanApplyIntro)",is_applied
0,1,2022-05-03 14:52:28,11-11-5-7-11,5,2,GetCreditInfo,8.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,7,2022-05-22 16:39:49,11,1,1,GetCreditInfo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,2022-05-21 23:37:58,11-11-11,3,1,GetCreditInfo,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,2022-03-24 10:53:59,4-11-5-11-6-1-2-8-3-5-5-11-4-11-5-2-8-3-11-5-5...,43,4,EndLoanApply,30.0,4.0,7.0,8.0,0.0,5.0,0.0,4.0,0.0,9.0,1.0,5.0,1.0
4,12,2022-03-14 01:13:11,4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-3-4-7-1-2-8-3-3-...,120,14,EndLoanApply,200.0,15.0,39.0,5.0,15.0,15.0,0.0,15.0,0.0,1.0,0.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,879693,2022-05-13 11:29:49,1-2-8-3-4-1-3-4-5-11-1-3-4-1-2-8-1-2-8-1-3-3-3...,61,8,EndLoanApply,86.0,6.0,12.0,2.0,0.0,9.0,0.0,17.0,0.0,5.0,0.0,10.0,1.0
584632,879694,2022-03-31 20:07:23,1-2-8-3-3-3,6,1,EndLoanApply,0.0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
584633,879695,2022-05-27 12:48:32,1-2-8-3,4,1,EndLoanApply,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
584634,879696,2022-03-14 05:35:34,7-5-11-11-5-11-4-7-2-8-3,11,1,EndLoanApply,30.0,1.0,1.0,3.0,2.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0
584635,879698,2022-05-24 22:33:24,4-1-2,3,1,Others,8.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

군집화를 위한 first_event컬럼 get_dummies

In [15]:
log_data1 = log_data.drop(['user_id','timestamp','event'],axis = 1)
log_data1

,action_cnt,use_day_cnt,first_event,timeout_sum(s),"(event, CompleteIDCertification)","(event, EndLoanApply)","(event, GetCreditInfo)","(event, Login)","(event, OpenApp)","(event, SignUp)","(event, StartLoanApply)","(event, UseDSRCalc)","(event, UseLoanManage)","(event, UsePrepayCalc)","(event, ViewLoanApplyIntro)",is_applied
0,5,2,GetCreditInfo,8.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,1,GetCreditInfo,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,GetCreditInfo,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,43,4,EndLoanApply,30.0,4.0,7.0,8.0,0.0,5.0,0.0,4.0,0.0,9.0,1.0,5.0,1.0
4,120,14,EndLoanApply,200.0,15.0,39.0,5.0,15.0,15.0,0.0,15.0,0.0,1.0,0.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584631,61,8,EndLoanApply,86.0,6.0,12.0,2.0,0.0,9.0,0.0,17.0,0.0,5.0,0.0,10.0,1.0
584632,6,1,EndLoanApply,0.0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
584633,4,1,EndLoanApply,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
584634,11,1,EndLoanApply,30.0,1.0,1.0,3.0,2.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0
584635,3,1,Others,8.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
log_data1 = pd.get_dummies(log_data)
log_data1

2. 정규화 한후 다시해보기

In [ ]:
log_data.isnull().sum()

In [ ]:
sample = log_data1.iloc[:, 0:13]
sample

In [ ]:
sample = (sample - sample.mean())/sample.std()
sample.head()

In [ ]:
log_data1.iloc[:, 0:13] = sample
log_data1

전체 군집화

In [ ]:
!pip install KMeans

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
def elbow(X):
  sse = []
  for i in range(1,11):  
    km = KMeans(n_clusters=i, init='k-means++', random_state = 0)
    km.fit(X)
    sse.append(km.inertia_)
  
  plt.plot(range(1,11), sse, marker ='o')
  plt.xlabel('클러스터 개수')
  plt.ylabel('SSE')
  plt.show()

elbow(log_data1)

In [ ]:
model = KMeans(n_clusters=6)
model.fit(log_data1)

In [ ]:
print (model.inertia_)

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
pca_transformed = pca.fit_transform(log_data1)

log_data['pca_x'] = pca_transformed[:,0]
log_data['pca_y'] = pca_transformed[:,1]
log_data.head(3)

In [ ]:
log_data['cluster']=model.labels_

In [ ]:
marker0_ind = log_data[log_data['cluster']==0].index
marker1_ind = log_data[log_data['cluster']==1].index
marker2_ind = log_data[log_data['cluster']==2].index
marker3_ind = log_data[log_data['cluster']==3].index
marker4_ind = log_data[log_data['cluster']==4].index
marker5_ind = log_data[log_data['cluster']==5].index

# cluster값 0, 1, 2에 해당하는 Index로 각 cluster 레벨의 pca_x, pca_y 값 추출. o, s, ^ 로 marker 표시
plt.scatter(x=log_data.loc[marker0_ind,'pca_x'], y=log_data.loc[marker0_ind,'pca_y'], marker='o') 
plt.scatter(x=log_data.loc[marker1_ind,'pca_x'], y=log_data.loc[marker1_ind,'pca_y'], marker='s')
plt.scatter(x=log_data.loc[marker2_ind,'pca_x'], y=log_data.loc[marker2_ind,'pca_y'], marker='^')
plt.scatter(x=log_data.loc[marker3_ind,'pca_x'], y=log_data.loc[marker3_ind,'pca_y'], marker='*')
plt.scatter(x=log_data.loc[marker4_ind,'pca_x'], y=log_data.loc[marker4_ind,'pca_y'], marker='+')
plt.scatter(x=log_data.loc[marker5_ind,'pca_x'], y=log_data.loc[marker5_ind,'pca_y'], marker='<')


plt.xlabel('PCA 1')
plt.ylabel('PCA 2')
plt.title('6 Clusters Visualization by 2 PCA Components')
plt.show()

In [ ]:
log_data1

In [ ]:
log_cluster = log_data1[['is_applied','cluster']]
log_cluster

In [ ]:
result = pd.concat([log_data,log_cluster],axis=1)
result

log_cluster 분류 비율

In [ ]:
df = log_cluster.groupby(['cluster'], as_index=False).count()[['cluster','is_applied']]
df

각 cluster의 is applied 비율 확인해보기

In [ ]:
cluster0 = log_cluster[log_cluster['cluster'] == 0]
cluster0

In [ ]:
cluster0 = log_cluster[log_cluster['cluster'] == 0]
cluster1 = log_cluster[log_cluster['cluster'] == 1]
cluster2 = log_cluster[log_cluster['cluster'] == 2]
cluster3 = log_cluster[log_cluster['cluster'] == 3]
cluster4 = log_cluster[log_cluster['cluster'] == 4]
cluster5 = log_cluster[log_cluster['cluster'] == 5]

In [ ]:
df0 = cluster0.value_counts()
df0.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()

In [ ]:
df1 = cluster1.value_counts()
df1.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()

In [ ]:
df2 = cluster2.value_counts()
df2.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()

In [ ]:
df3 = cluster3.value_counts()
df3.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()

In [ ]:
df4 = cluster4.value_counts()
df4.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()

In [ ]:
df5 = cluster5.value_counts()
df5.plot.pie(autopct='%.2f%%')
plt.title("rate of loan")
plt.axis('equal')
plt.show()