In [189]:
# 패키지 설치
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [190]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [191]:
respec = pd.read_csv('/content/gdrive/MyDrive/dataset/respec.csv')

In [192]:
respec

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage
0,311143,646289,1.0,2022-06-07 10:17:19,530.0,28000000.0,3,2022.0,계약직,기타가족소유,3000000.0,LIVING,0.0,0.0,5.0,19000000.0,20.0
1,1903409,168234,0.0,2022-06-07 09:43:20,560.0,12000000.0,5,2021.0,기타,기타가족소유,3000000.0,LIVING,0.0,0.0,10.0,23000000.0,30.0
2,1237618,717213,1.0,2022-06-07 03:26:54,530.0,51000000.0,3,2017.0,정규직,전월세,5000000.0,LIVING,0.0,0.0,0.0,0.0,30.0
3,647624,796103,1.0,2022-06-07 23:07:42,520.0,61000000.0,3,2019.0,정규직,전월세,5000000.0,LIVING,0.0,0.0,7.0,96000000.0,40.0
4,223654,325066,0.0,2022-06-07 16:39:55,570.0,26000000.0,3,2020.0,정규직,전월세,5000000.0,LIVING,0.0,0.0,5.0,58000000.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394126,1864587,489900,1.0,2022-03-22 14:55:32,590.0,25000000.0,2,2021.0,기타,기타가족소유,5000000.0,BUSINESS,0.0,0.0,0.0,0.0,20.0
1394127,1327066,151422,1.0,2022-03-22 01:19:24,980.0,20000000.0,4,2017.0,기타,자가,50000000.0,LIVING,1.0,1.0,1.0,31000000.0,60.0
1394128,1319606,173524,1.0,2022-03-22 07:34:32,750.0,75000000.0,3,2009.0,정규직,자가,100000000.0,SWITCHLOAN,1.0,1.0,8.0,200000000.0,40.0
1394129,1482466,766546,1.0,2022-03-22 22:12:35,640.0,50000000.0,3,2017.0,정규직,자가,10000000.0,SWITCHLOAN,0.0,1.0,10.0,117000000.0,40.0
1394130,816537,3864,0.0,2022-03-22 08:55:14,NaN,35000000.0,2,2011.0,기타,자가,20000000.0,LIVING,1.0,0.0,0.0,0.0,40.0

In [193]:
respec.isnull().sum()

application_id                              0
user_id                                     0
gender                                      0
insert_time                                 0
credit_score                           105112
yearly_income                               0
income_type                                 0
company_enter_month                         0
employment_type                             0
houseown_type                               0
desired_amount                              0
purpose                                     0
personal_rehabilitation_yn                  0
personal_rehabilitation_complete_yn         0
existing_loan_cnt                           0
existing_loan_amt                           0
reage                                       0
dtype: int64

In [194]:
respec = respec.drop("application_id", axis=1)

In [195]:
respec = respec.drop("user_id",axis=1)

In [196]:
respec = respec.drop("insert_time",axis=1)

In [197]:
test=respec[respec['credit_score'].isnull()]

In [198]:
train=respec[respec['credit_score'].notnull()]

In [199]:
respec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394131 entries, 0 to 1394130
Data columns (total 14 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   gender                               1394131 non-null  float64
 1   credit_score                         1289019 non-null  float64
 2   yearly_income                        1394131 non-null  float64
 3   income_type                          1394131 non-null  int64
 4   company_enter_month                  1394131 non-null  float64
 5   employment_type                      1394131 non-null  object
 6   houseown_type                        1394131 non-null  object
 7   desired_amount                       1394131 non-null  float64
 8   purpose                              1394131 non-null  object
 9   personal_rehabilitation_yn           1394131 non-null  float64
 10  personal_rehabilitation_complete_yn  1394131 non-null  float64
 11  existing_loan_cnt                    1394131 non-null  float64
 12  existing_loan_amt                    1394131 non-null  float64
 13  reage                                1394131 non-null  float64
dtypes: float64(10), int64(1), object(3)
memory usage: 148.9+ MB

In [200]:
train = pd.get_dummies(train)

In [201]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1289019 entries, 0 to 1394129
Data columns (total 27 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   gender                               1289019 non-null  float64
 1   credit_score                         1289019 non-null  float64
 2   yearly_income                        1289019 non-null  float64
 3   income_type                          1289019 non-null  int64
 4   company_enter_month                  1289019 non-null  float64
 5   desired_amount                       1289019 non-null  float64
 6   personal_rehabilitation_yn           1289019 non-null  float64
 7   personal_rehabilitation_complete_yn  1289019 non-null  float64
 8   existing_loan_cnt                    1289019 non-null  float64
 9   existing_loan_amt                    1289019 non-null  float64
 10  reage                                1289019 non-null  float64
 11  employment_type_계약직                  1289019 non-null  uint8
 12  employment_type_기타                   1289019 non-null  uint8
 13  employment_type_일용직                  1289019 non-null  uint8
 14  employment_type_정규직                  1289019 non-null  uint8
 15  houseown_type_기타가족소유                 1289019 non-null  uint8
 16  houseown_type_배우자                    1289019 non-null  uint8
 17  houseown_type_자가                     1289019 non-null  uint8
 18  houseown_type_전월세                    1289019 non-null  uint8
 19  purpose_BUSINESS                     1289019 non-null  uint8
 20  purpose_BUYCAR                       1289019 non-null  uint8
 21  purpose_BUYHOUSE                     1289019 non-null  uint8
 22  purpose_ETC                          1289019 non-null  uint8
 23  purpose_HOUSEDEPOSIT                 1289019 non-null  uint8
 24  purpose_INVEST                       1289019 non-null  uint8
 25  purpose_LIVING                       1289019 non-null  uint8
 26  purpose_SWITCHLOAN                   1289019 non-null  uint8
dtypes: float64(10), int64(1), uint8(16)
memory usage: 137.7 MB

In [202]:
test = pd.get_dummies(test)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105112 entries, 8 to 1394130
Data columns (total 27 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   gender                               105112 non-null  float64
 1   credit_score                         0 non-null       float64
 2   yearly_income                        105112 non-null  float64
 3   income_type                          105112 non-null  int64
 4   company_enter_month                  105112 non-null  float64
 5   desired_amount                       105112 non-null  float64
 6   personal_rehabilitation_yn           105112 non-null  float64
 7   personal_rehabilitation_complete_yn  105112 non-null  float64
 8   existing_loan_cnt                    105112 non-null  float64
 9   existing_loan_amt                    105112 non-null  float64
 10  reage                                105112 non-null  float64
 11  employment_type_계약직                  105112 non-null  uint8
 12  employment_type_기타                   105112 non-null  uint8
 13  employment_type_일용직                  105112 non-null  uint8
 14  employment_type_정규직                  105112 non-null  uint8
 15  houseown_type_기타가족소유                 105112 non-null  uint8
 16  houseown_type_배우자                    105112 non-null  uint8
 17  houseown_type_자가                     105112 non-null  uint8
 18  houseown_type_전월세                    105112 non-null  uint8
 19  purpose_BUSINESS                     105112 non-null  uint8
 20  purpose_BUYCAR                       105112 non-null  uint8
 21  purpose_BUYHOUSE                     105112 non-null  uint8
 22  purpose_ETC                          105112 non-null  uint8
 23  purpose_HOUSEDEPOSIT                 105112 non-null  uint8
 24  purpose_INVEST                       105112 non-null  uint8
 25  purpose_LIVING                       105112 non-null  uint8
 26  purpose_SWITCHLOAN                   105112 non-null  uint8
dtypes: float64(10), int64(1), uint8(16)
memory usage: 11.2 MB

# Linear Regression

일단 데이터 셋 변수들을 다 집어놓고 돌려보기
- respec : "appllication id", "user_id", "insert_time" 빼고 시작

In [203]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [204]:
X_data = train.drop("credit_score",axis=1)
y_target = train[['credit_score']]

In [205]:
X_train, X_val, y_train, y_val = train_test_split(X_data, y_target, test_size=0.3,
                                                   random_state=156)

- 선형회귀 OLS로 학습/예측/평가 수행
- 기본 파라미터 수정 X

In [206]:
lr=LinearRegression()
res = lr.fit(X_train, y_train)

In [207]:
y_preds = lr.predict(X_val)
mse=mean_squared_error(y_val, y_preds)
rmse=np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse,rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_preds)))

MSE : 9823.005, RMSE : 99.111
Variance score : 0.372

In [208]:
X_train, X_val, y_train, y_val = train_test_split(X_data, y_target, test_size=0.2,
                                                   random_state=156)

In [209]:
lr=LinearRegression()
res = lr.fit(X_train, y_train)

In [210]:
y_preds = lr.predict(X_val)
mse=mean_squared_error(y_val, y_preds)
rmse=np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse,rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_preds)))

MSE : 9834.097, RMSE : 99.167
Variance score : 0.372

In [211]:
x_train, x_val, y_train, y_val = train_test_split(X_data, y_target, train_size=0.7, test_size=0.3,
                                                  random_state=156)

In [212]:
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [213]:
print(mlr.score(x_train, y_train))

0.37168283138214975

# Robust regression

In [214]:
import statsmodels.api as sm

In [215]:
y_val

         credit_score
24955           660.0
400233          640.0
753302          600.0
978815          600.0
1114030         750.0
...               ...
1140731        1000.0
51396           540.0
100797          590.0
522822          770.0
1275643         930.0

[386706 rows x 1 columns]

# Ridge Regression

In [216]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

- alpha:10

In [217]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

#alpha=10으로 설정하여 릿지 회귀 수행
ridge = Ridge(alpha=10)
neg_mse_scores = cross_val_score(ridge, X_data, y_target, scoring="neg_mean_squared_error",cv=5)
rmse_scores = np.sqrt(-1*neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print(' 5 folds 의 개별 negative MSE scores:', np.round(neg_mse_scores,3))
print(' 5 folds 의 개별 RMSE scores:', np.round(rmse_scores,3))
print(' 5 folds 의 평균 RMSE scores:{0:.3f}'.format(avg_rmse))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.61793e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.73646e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.70653e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.6942e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

 5 folds 의 개별 negative MSE scores: [-11815.599  -9701.143  -9795.265  -9790.489  -9723.203]
 5 folds 의 개별 RMSE scores: [108.7    98.494  98.971  98.947  98.606]
 5 folds 의 평균 RMSE scores:100.744

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.70285e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

- alpha : 1

In [218]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

#alpha=10으로 설정하여 릿지 회귀 수행
ridge = Ridge(alpha=1)
neg_mse_scores = cross_val_score(ridge, X_data, y_target, scoring="neg_mean_squared_error",cv=5)
rmse_scores = np.sqrt(-1*neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print(' 5 folds 의 개별 negative MSE scores:', np.round(neg_mse_scores,3))
print(' 5 folds 의 개별 RMSE scores:', np.round(rmse_scores,3))
print(' 5 folds 의 평균 RMSE scores:{0:.3f}'.format(avg_rmse))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.618e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.73654e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.7066e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.69428e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

 5 folds 의 개별 negative MSE scores: [-11815.917  -9701.112  -9795.238  -9790.454  -9723.171]
 5 folds 의 개별 RMSE scores: [108.701  98.494  98.971  98.947  98.606]
 5 folds 의 평균 RMSE scores:100.744

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=2.70292e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

- alpha:0.5

In [219]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score

#alpha=10으로 설정하여 릿지 회귀 수행
ridge = Ridge(alpha=0.5)
neg_mse_scores = cross_val_score(ridge, X_data, y_target, scoring="neg_mean_squared_error",cv=5)
rmse_scores = np.sqrt(-1*neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print(' 5 folds 의 개별 negative MSE scores:', np.round(neg_mse_scores,3))
print(' 5 folds 의 개별 RMSE scores:', np.round(rmse_scores,3))
print(' 5 folds 의 평균 RMSE scores:{0:.3f}'.format(avg_rmse))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.309e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.36827e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.3533e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.34714e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

 5 folds 의 개별 negative MSE scores: [-11815.934  -9701.111  -9795.237  -9790.452  -9723.17 ]
 5 folds 의 개별 RMSE scores: [108.701  98.494  98.971  98.947  98.606]
 5 folds 의 평균 RMSE scores:100.744

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=1.35146e-23): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

# Lasso Regression

In [220]:
from sklearn.linear_model import Lasso, ElasticNet

def get_linear_reg_eval(model_name, params=None, X_data_n=None, y_target_n=None,
                       verbose=True, return_coeff=True):
    coeff_df=pd.DataFrame()
    if verbose : print('######',model_name,'######')
    for param in params:
        if model_name =='Ridge':model=Ridge(alpha=param)
        elif model_name == 'Lasso':model = Lasso(alpha=param)
        elif model_name == 'ElasticNet':model = ElasticNet(alpha=param, l1_ratio=0.7)
        neg_mse_scores = cross_val_score(model, X_data_n, y_target_n, scoring="neg_mean_squared_error",cv=5)
        avg_rmse = np.mean(np.sqrt(-1*neg_mse_scores))
        print(' 5 folds 의 평균 RMSE scores:{0:.3f}'.format(avg_rmse))
        
        model.fit(X_data_n, y_target_n)
        if return_coeff:
            coeff = pd.Series(data=model.coef_, index=X_data_n.columns)
            colname = 'alpha:'+str(param)
            coeff_df[colname]=coeff
            
    return coeff_df

In [221]:
lasso_alphas = [0.07, 0.1, 0.5, 1, 3]
coeff_lasso_df = get_linear_reg_eval('Lasso', params=lasso_alphas, X_data_n=X_data,y_target_n=y_target)

###### Lasso ######
 5 folds 의 평균 RMSE scores:100.735
 5 folds 의 평균 RMSE scores:100.737
 5 folds 의 평균 RMSE scores:101.016
 5 folds 의 평균 RMSE scores:101.412
 5 folds 의 평균 RMSE scores:102.724

# ElasticNet

In [222]:
#l1 latio는 0.7로 고정
elastic_alphas = [0.7, 0.1,0.5,1,3]
coeff_elastic_df=get_linear_reg_eval('ElasticNet',params=elastic_alphas,
                                    X_data_n=X_data, y_target_n=y_target)

###### ElasticNet ######
 5 folds 의 평균 RMSE scores:104.716
 5 folds 의 평균 RMSE scores:100.986
 5 folds 의 평균 RMSE scores:103.362
 5 folds 의 평균 RMSE scores:106.577
 5 folds 의 평균 RMSE scores:113.586

# 정규화 진행 후 위 과정 반복

## 정규화 진행 후 선형회귀

In [223]:
X_data = train.drop("credit_score",axis=1)
y_target = train[['credit_score']]

In [224]:
X_data = (X_data - X_data.mean())/X_data.std()
X_data.head()

,gender,yearly_income,income_type,company_enter_month,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,reage,...,houseown_type_자가,houseown_type_전월세,purpose_BUSINESS,purpose_BUYCAR,purpose_BUYHOUSE,purpose_ETC,purpose_HOUSEDEPOSIT,purpose_INVEST,purpose_LIVING,purpose_SWITCHLOAN
0,0.683432,-0.131931,-0.026737,0.760022,-0.146707,-1.205557,-1.116151,0.160196,-0.490428,-1.373389,...,-0.502693,-0.922706,-0.211426,-0.048428,-0.106226,-0.147557,-0.134851,-0.092455,0.765191,-0.601008
1,-1.463202,-0.271541,2.080152,0.556519,-0.146707,-1.205557,-1.116151,1.307875,-0.443207,-0.475854,...,-0.502693,-0.922706,-0.211426,-0.048428,-0.106226,-0.147557,-0.134851,-0.092455,0.765191,-0.601008
2,0.683432,0.068758,-0.026737,-0.257493,-0.135633,-1.205557,-1.116151,-0.987483,-0.714729,-0.475854,...,-0.502693,1.083768,-0.211426,-0.048428,-0.106226,-0.147557,-0.134851,-0.092455,0.765191,-0.601008
3,0.683432,0.156014,-0.026737,0.149513,-0.135633,-1.205557,-1.116151,0.619267,0.418579,0.421680,...,-0.502693,1.083768,-0.211426,-0.048428,-0.106226,-0.147557,-0.134851,-0.092455,0.765191,-0.601008
4,-1.463202,-0.149382,-0.026737,0.353016,-0.135633,-1.205557,-1.116151,0.160196,-0.030022,-0.475854,...,-0.502693,1.083768,-0.211426,-0.048428,-0.106226,-0.147557,-0.134851,-0.092455,0.765191,-0.601008

In [225]:
X_train, X_val, y_train, y_val = train_test_split(X_data, y_target, test_size=0.3,
                                                   random_state=156)

In [226]:
lr=LinearRegression()
res = lr.fit(X_train, y_train)

In [227]:
y_preds = lr.predict(X_val)
mse=mean_squared_error(y_val, y_preds)
rmse=np.sqrt(mse)

print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse,rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_val,y_preds)))

MSE : 9823.056, RMSE : 99.111
Variance score : 0.372